In [3]:
import requests
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, MetaData, Integer, String, Date, Float, BigInteger
import time

# call yahoo finance API
url = "https://query1.finance.yahoo.com/v8/finance/chart/"
symbol = "META"
period = "?period1=1735660800&period2=1760544000&interval=1d&events=history"
headers = {
  "User-Agent" : "Mozilla/5.0"
}
db_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2508")
df_symbol_only = pd.read_sql('select "Symbol" from stock_symbol', con=db_engine)
df_symbol_only['Symbol'] = df_symbol_only['Symbol'].str.replace('.', '-')
combined_df = pd.DataFrame()

for row in df_symbol_only.itertuples(index=False):
  url_builder = url + row.Symbol + period

  response = requests.get(url_builder, headers=headers)
  data = response.json()

  quote = data['chart']['result'][0]['indicators']['quote'][0]
  timestamps = data['chart']['result'][0]['timestamp']
  symbol = data['chart']['result'][0]['meta']['symbol']

  df = pd.DataFrame(quote)
  df['Date'] = pd.to_datetime(timestamps, unit='s')
  df['symbol'] = symbol
  combined_df = pd.concat([combined_df, df], ignore_index=True)

combined_df = combined_df.rename(columns={'high': 'high_price', 'low': 'low_price', 'open': 'open_price'
                                          , 'close': 'close_price'})
print(combined_df)

#high, volumn, low, close, open, date, symbol
#df = df.rename(columns={'old_col_A': 'new_col_X', 'old_col_C': 'new_col_Z'})
#change, changes_percentage, high_price, low_price, open_price, previous_price, price

       close_price  open_price  high_price     volume   low_price  \
0       129.089996  129.199997  130.050003  2220300.0  128.660004
1       129.699997  130.289993  131.619995  3248900.0  128.979996
2       129.869995  129.699997  130.860001  2273700.0  129.300003
3       130.289993  130.820007  131.410004  3067000.0  129.880005
4       132.770004  130.089996  132.800003  3414500.0  130.009995
...            ...         ...         ...        ...         ...
99589   143.389999  143.820007  145.220001  3511000.0  143.250000
99590   141.110001  143.389999  143.490005  2958400.0  140.830002
99591   142.259995  141.259995  143.360001  2261300.0  140.649994
99592   143.460007  141.550003  143.570007  2805700.0  141.110001
99593   142.119995  141.389999  143.990005  3198800.0  141.330002

                     Date symbol
0     2024-12-31 14:30:00    MMM
1     2025-01-02 14:30:00    MMM
2     2025-01-03 14:30:00    MMM
3     2025-01-06 14:30:00    MMM
4     2025-01-07 14:30:00    MMM
...                   ...    ...
99589 2025-10-09 13:30:00    ZTS
99590 2025-10-10 13:30:00    ZTS
99591 2025-10-13 13:30:00    ZTS
99592 2025-10-14 13:30:00    ZTS
99593 2025-10-15 13:30:00    ZTS

[99594 rows x 7 columns]

In [4]:
# Database Table (Symbool, Date, Open, High, Low, Close, Volume)
db_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2508")

metadata = MetaData()

metadata.create_all(db_engine)

combined_df.to_sql('stock_ohlc_data', db_engine, index=False, if_exists='replace')

df_stock_sql_result = pd.read_sql("select * from stock_ohlc_data", con=db_engine)