In [17]:
import requests
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, MetaData, Integer, String, Date, Float, BigInteger
import time

# call yahoo finance API
url = "https://query1.finance.yahoo.com/v8/finance/chart/"
symbol = "META"
period2 = "&period2=" + f"{int(time.time())}"
period1_5years = "?period1=" + f"{int(time.time())- 157788000}" # 5 years
period1_3years = "?period1=" + f"{int(time.time())- 94694400}" # 3 years
period1_1year = "?period1=" + f"{int(time.time())- 31536000}" # 1 year
period1_6months = "?period1=" + f"{int(time.time())- 15897600}" # 6 months
period1_3months = "?period1=" + f"{int(time.time())- 7948800}" # 3 months
period1_1month = "?period1=" + f"{int(time.time())- 2678400}" # 1 month

print(period2)
intervalevents = "&interval=1d&events=history"
headers = {
  "User-Agent" : "Mozilla/5.0"
}
db_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2508")
df_symbol_only = pd.read_sql('select "Symbol" from stock_symbol', con=db_engine)

df_symbol_only.columns = df_symbol_only.columns.str.strip().str.lower()
df_symbol_only['symbol'] = df_symbol_only['symbol'].str.replace('.', '-')
combined_df = pd.DataFrame()

for row in df_symbol_only.itertuples(index=False):
  url_builder = url + row.symbol + period1_5years + period2 + intervalevents

  response = requests.get(url_builder, headers=headers)
  data = response.json()

  if data['chart']['result'] is None:
    error = data['chart'].get('error', 'Unknown error')
    print(f"Error fetching data for symbol {row.symbol}: {error}")
    continue

  quote = data['chart']['result'][0]['indicators']['quote'][0]
  timestamps = data['chart']['result'][0]['timestamp']
  symbol = data['chart']['result'][0]['meta']['symbol']

  df = pd.DataFrame(quote)
  df['Date'] = pd.to_datetime(timestamps, unit='s')
  df['symbol'] = symbol
  combined_df = pd.concat([combined_df, df], ignore_index=True)

combined_df = combined_df.rename(columns={'high': 'high_price', 'low': 'low_price', 'open': 'open_price'
                                          , 'close': 'close_price'})
print(combined_df)

#high, volumn, low, close, open, date, symbol
#df = df.rename(columns={'old_col_A': 'new_col_X', 'old_col_C': 'new_col_Z'})
#change, changes_percentage, high_price, low_price, open_price, previous_price, price

&period2=1762222475
Error fetching data for symbol WBA: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
         volume  open_price   low_price  close_price  high_price  \
0       2268692  137.842804  136.906357   138.386292  139.489960
1       3756516  136.078598  133.695648   133.913040  138.210709
2       2605486  135.585281  135.468231   136.454849  137.466553
3       2015260  136.839462  135.091980   136.304352  137.374588
4       5284048  145.593643  136.413040   136.647156  146.680603
...         ...         ...         ...          ...         ...
626376  2934300  146.820007  145.320007   145.410004  147.460007
626377  3186200  145.250000  143.720001   143.940002  146.110001
626378  2476000  142.440002  142.440002   144.100006  145.039993
626379  3338200  142.570007  142.309998   144.089996  144.679993
626380  3993600  143.369995  142.139999   144.350006  144.830002

                      Date symbol
0      2020-11-03 14:30:00    MMM
1      2020-11-04 14:30:00    MMM
2      2020-11-05 14:30:00    MMM
3      2020-11-06 14:30:00    MMM
4      2020-11-09 14:30:00    MMM
...                    ...    ...
626376 2025-10-28 13:30:00    ZTS
626377 2025-10-29 13:30:00    ZTS
626378 2025-10-30 13:30:00    ZTS
626379 2025-10-31 13:30:00    ZTS
626380 2025-11-03 14:30:00    ZTS

[626381 rows x 7 columns]

In [18]:
# Database Table (Symbool, Date, Open, High, Low, Close, Volume)
db_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2508")

metadata = MetaData()

metadata.create_all(db_engine)

combined_df.to_sql('stock_ohlc_data', db_engine, index=False, if_exists='replace')

df_stock_sql_result = pd.read_sql("select * from stock_ohlc_data", con=db_engine)