In [2]:
import requests
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, MetaData, Integer, String, Date, Float, BigInteger

# call yahoo finance API
url = "https://query1.finance.yahoo.com/v8/finance/chart/"
symbol = "META"
period = "?period1=1735660800&period2=1760544000&interval=1d&events=history"
headers = {
  "User-Agent" : "Mozilla/5.0"
}
db_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2508")
df_symbol_only = pd.read_sql('select "Symbol" from stock_symbol', con=db_engine)
print(df_symbol_only)

    Symbol
0      MMM
1      AOS
2      ABT
3     ABBV
4      ACN
..     ...
498    XYL
499    YUM
500   ZBRA
501    ZBH
502    ZTS

[503 rows x 1 columns]

In [3]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'text_column': ['hello world', 'python programming', 'data analysis'],
    'numeric_column': [1, 2, 3]
})

print("Original DataFrame:")
print(df)

# Replace 'o' with 'X' in 'text_column'
df['text_column'] = df['text_column'].str.replace('o', 'X')

print("\nDataFrame after replacing 'o' with 'X':")
print(df)

# Replace multiple characters using regex
df['text_column'] = df['text_column'].str.replace(r'[aeiou]', '*', regex=True)

print("\nDataFrame after replacing vowels with '*':")
print(df)

Original DataFrame:
          text_column  numeric_column
0         hello world               1
1  python programming               2
2       data analysis               3

DataFrame after replacing 'o' with 'X':
          text_column  numeric_column
0         hellX wXrld               1
1  pythXn prXgramming               2
2       data analysis               3

DataFrame after replacing vowels with '*':
          text_column  numeric_column
0         h*llX wXrld               1
1  pythXn prXgr*mm*ng               2
2       d*t* *n*lys*s               3